---
layout: base
---

<h3>Recommended</h3>

<div class="d-flex flex-wrap">
{% for plugin in site.plugins %}
{% if plugin.recommended %}
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{ plugin.title }}</h5>
      <p class="card-text">
        By {{ plugin.author }}
        {% if plugin.verified %}
        {% include verifiedmark.html %}
        {% endif %}
      </p>
      <a href="{{ plugin.url | relative_url }}" class="btn btn-primary">View</a>
      <a href="{{ plugin.url | relative_url }}?download" class="btn btn-primary">Download</a>
    </div>
  </div>
{% endif %}
{% endfor %}
</div>
