---
layout: base
---

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/plugins/categories">Categories</a></li>
    <li class="breadcrumb-item active">{{ page.category }}</li>
  </ol>
</nav>

<div class="d-flex flex-wrap">
{% for plugin in site.plugins %}
{% if plugin.category == page.category %}
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{ plugin.title }}</h5>
      <p class="card-text">
        By {{ plugin.author }}
        {% if plugin.verified %}
        {% include verifiedmark.html %}
        {% endif %}
      </p>
      <a href="{{ plugin.url | relative_url }}" class="btn btn-primary">View</a>
      <a href="{{ plugin.url | relative_url }}.js" class="btn btn-primary">Download</a>
    </div>
  </div>
{% endif %}
{% endfor %}
</div>
