---
layout: base
---

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/plugins/categories">Categories</a></li>
    <li class="breadcrumb-item"><a href="/plugins/categories/{{ page.category }}">{{ page.category }}</a></li>
    <li class="breadcrumb-item active">{{ page.title }}</li>
  </ol>
</nav>

<h1>
  {{ page.title }}
  <a href="{{ page.url | relative_url }}.js" class="btn btn-primary">Download</a>
</h1>
<p>
  By {{ page.author }}
  {% if page.verified %}
  {% include verifiedmark.html %}
  {% endif %}
  -
  Version: {{ page.version }}
</p>
<p>{{ page.description | markdownify }}</p>
